<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <h3>T.N permanent make up </h3>
      <p>მე ვარ თაკო — მუდმივი მაკიაჟის სპეციალისტი. ვქმნი ბუნებრივ და გამძლე შედეგებს, რომ თავი ყოველდღე საუკეთესოდ იგრძნოთ. გელოდებით ჩემს სტუდიაში თბილ და პროფესიონალურ გარემოში.</p>
    </div>

    <div class="footer-links">
      <h4>მოკლე ლინკები</h4>
      <ul>
        <li><a href="#">მთავარი</a></li>
        <li><a href="#">სერვისები</a></li>
        <li><a routerLink="/about">ჩვენს შესახებ</a></li>
        <li><a href="#">კონტაქტი</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>კონტაქტი</h4>
      <p>
        <a href="tel:+995579117118">📞: +995579 117 118</a>
      </p>
      <p>
        <a href="https://wa.me/+995579117118" target="_blank" rel="noopener"><i class="fa-brands fa-whatsapp"></i> WhatsApp:დაგვიკავშირდით</a>
      </p>
      <p>
        <a href="mailto:PermanentMakeup885@gmail.com">✉️ Email: PermanentMakeup885&#64;gmail.com</a>
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 T.N permanent make up All rights reserved.</p>
  </div>
</footer>
