<br>
<br>
<br><br>

<section class="contact-hero">
  <div class="contact-header">
    <h1>დაგვიკავშირდით</h1>
    <p>საკითხვები გაქვთ? დაგვიკავშირდით ნებისმიერ დროს — მოხარულები ვიქნებით დაგეხმაროთ.</p>
  </div>
</section>

<section class="contact-info">
  <div class="info-container">
    <div class="contact-box">
      <h2>კონტაქტი</h2>
      <p>📞 <a href="tel:+995579117118">+995 579 117 118</a></p>
      <p>   <i class="fa-brands fa-whatsapp"></i> <a href="https://wa.me/995579117118" target="_blank">WhatsApp-ზე მიწერა</a></p>
      <p>   <i class="fa-brands fa-facebook"></i> <a href="https://m.me/https://www.facebook.com/profile.php?id=100090747916874" target="_blank">T.N permanent make up </a></p> 
      <p>📧 <a href="mailto:PermanentMakeup885@gmail.com">PermanentMakeup885&#64;gmail.com</a></p>
<p>📍 <a href="https://www.google.com/maps?q=41.693857,44.863524" target="_blank">
  თბილისი, ვაზისუბანი, შანდორ პეტეფის 23
</a></p>


    
    </div>
  </div>
</section>

<app-footer></app-footer>