<section class="hero-section">
  <img src="assets/images/istockphoto-1399922661-612x612.jpg" alt="Permanent Makeup" class="hero-img">
  <div class="hero-overlay">
    <div class="hero-content">
      <h1>გამოკვეთე შენი ბუნებრივი სილამაზე</h1>
      <p>მუდმივი მაკიაჟი, რომელიც შეგეფერება სრულყოფილად</p>
      <a routerLink="/contact" class="hero-btn">დაჯავშნე ვიზიტი</a>
    </div>
  </div>
</section>

<div class="home-container">
  <h2 class="section-title">ჩვენი სერვისები</h2>

  <div class="card-grid">
    <div class="service-card">
      <img class="imaaag" src="assets/images/istockphoto-1448743372-612x612.jpg" alt="მიკრობლეიდინგი">
      <h3>მიკრობლეიდინგი</h3>
      <span class="price">₾80</span>
      <p>
        წარბების ფორმის გაუმჯობესება თხელი ხაზებით, რომელიც ბუნებრივ იერს ტოვებს.<br>
        <strong>ხანგრძლივობა:</strong> 2 საათი
      </p>
      <a routerLink="/contact" class="book-btn">დაჯავშნე ვიზიტი</a>

    </div>

        <div class="service-card">
      <img src="assets/images/istockphoto-1340304600-612x612.jpg" alt="წამწამების ხაზის გამოკვეთა">
      <h3>წარბის დაფერვა</h3>
      <span class="price">₾80</span>
      <p>
        წარბის დაფერვა უსვამს ხაზს წარბების ბუნებრივ ფორმასა და ფერს.<br>
        <strong>ხანგრძლივობა:</strong> 2.5 საათი
      </p>
      <a routerLink="/contact" class="book-btn">დაჯავშნე ვიზიტი</a>

    </div>

    <div class="service-card">
      <img src="assets/images/111.jpg" alt="ტუჩების დაფერვა">
      <h3>ტუჩების დაფერვა</h3>
      <span class="price">₾80</span>
      <p>
        რბილი პიგმენტი ტუჩების ბუნებრივი ფერის და ფორმის ხაზგასასმელად.<br>
        <strong>ხანგრძლივობა:</strong> 2.5 საათი
      </p>
      <a routerLink="/contact" class="book-btn">დაჯავშნე ვიზიტი</a>

    </div>

    <div class="service-card">
      <img src="assets/images/50881225eb1901460177ab2324fa44cecf5559cc_original.jpeg" alt="თვალის ლაინერი">
      <h3>თვალის ლაინერი</h3>
      <span class="price">₾80</span>
      <p>
        მუდმივი ლაინერი წამწამების ხაზზე თვალის ფორმის გასამყარებლად.<br>
        <strong>ხანგრძლივობა:</strong> 1.5 საათი
      </p>
      <a routerLink="/contact" class="book-btn">დაჯავშნე ვიზიტი</a>

    </div>

    <div class="service-card">
      <img src="assets/images/istockphoto-845708412-612x612.jpg" alt="წამწამების დაგრძელება">
      <h3>წამწამების დაგრძელება</h3>
      <span class="price">₾50</span>
      <p>
        ბუნებრივი და დახვეწილი იერი გრძელი წამწამებით.<br>
        <strong>ხანგრძლივობა:</strong> 2.5 საათი
      </p>
      <a routerLink="/contact" class="book-btn">დაჯავშნე ვიზიტი</a>

    </div>

    <div class="service-card">
      <img src="assets/images/eyebrow-lamination-guide-pmuhub.webp" alt="წარბის ლამინირება">
      <h3>წარბის ლამინირება</h3>
      <span class="price">₾50</span>
      <p>
        წარბების ლამინირება აძლევს ფორმას და მოცულობას.
        ეს პროცედურა იდეალურია ბუნებრივად არათანაბარი ან დაუმორჩილებელი წარბებისთვის.<br>
        <strong>ხანგრძლივობა:</strong> 1 საათი
      </p>
      <a routerLink="/contact" class="book-btn">დაჯავშნე ვიზიტი</a>

    </div>
  </div>
</div>

<app-footer></app-footer>
